<div class="refund">
  <div class="refund-form" *ngIf="add">
    <md-card>
      <md-card-title>
        Agregar Rembolso
      </md-card-title>
      <md-card-content>
        <form novalidate [formGroup]="refundForm">
          <p>
          <md-input-container>
            <input md-input placeholder="Valor" formControlName="amount" type="number">
          </md-input-container>
          <md-input-container>
            <input md-input placeholder="Fecha" formControlName="date">
          </md-input-container>
          <md-input-container>
            <input md-input placeholder="Numero de Cheque" formControlName="check_number">
          </md-input-container>
          <md-input-container >
            <textarea md-input placeholder="Comentarios"
            [rows]="4" formControlName="comments"></textarea>
          </md-input-container>
          </p>
          <md-checkbox formControlName="reviewed" > Revisado?</md-checkbox>
        </form>
      </md-card-content>
      <md-card-actions align="end">
        <button *ngIf="refund" md-raised-button color="accent"
        (click)="onSubmit(refundForm)">Editar</button>
        <button *ngIf="!refund" md-raised-button color="accent"
        (click)="onSubmit(refundForm)">Agregar</button>
      </md-card-actions>
    </md-card>
  </div>
  <div class="refund-list">
    <md-card>
      <div class="table-option">
        <button md-button (click)="editRefund()" [disabled]="refund==null">Editar</button>
        <button md-button (click)="showDetail()" [disabled]="refund==null">Detalle</button>
      </div>
      <md-divider></md-divider>
      <td-data-table #mydata [data]="data" [columns]="columns" (rowSelect)="selectEvent($event)" selectable="true" [multiple]="false">
      </td-data-table>
    <button md-fab (click)="toogleAdd()">{{addSign}}</button>
      
    </md-card>
  </div>
</div>
