<div>
  <md-toolbar *ngIf="showToolbar" color="primary">
    <md-icon class="icon-20">create</md-icon>
    <span><a routerLink="home" class="title">{{ title }}</a></span>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div class="menu-list">
    <span><a routerLink="about">About</a></span>
    <span><a routerLink="clients">Clients</a></span>
    <span><a routerLink="signup">Signup</a></span>
    <span><a target="_blank" routerLink="reports">Reports</a></span>
    </div>
  </md-toolbar>
</div>
<div class="container">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
