
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Office</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="clients">Clients</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="signup">Signup</a></li>
        </ul>
    </div>
</nav>
<div class="container">
     <router-outlet></router-outlet>
</div>



<!-- main app container -->
<!--<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
        </div>
    </div>
</div>-->